 
<main>
  <app-header></app-header>
     <!-- Signup Section -->
     <section id="appointment" class="appointment section light-background" style="background-color: #EAEAEA;">

     
      <div class="container section-title" data-aos="fade-up" style="margin-top: -50px; padding: 0px;" >
        <h2>Signup</h2>
        <p style="margin: -10px 10px 0px 10px">Sign up to get access to exclusive content, personalized recommendations, and stay updated with the latest news and offers. It's quick, easy, and takes just a few minutes!</p>
      </div>
        <div class="container" data-aos="fade-up" data-aos-delay="100" style="margin: 0px; padding: 0px;">
       <!-- new form  -->
       <form  [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off" class="container" style="    margin-left: 80px;">
        <div class="row">
          <!-- Name Input -->
          <div class="col-md-4 form-group">
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
            <div class="text-danger" *ngIf="signupForm.get('name')!.hasError('required') && (signupForm.get('name')!.dirty || signupForm.get('name')!.touched)">
              Name is required.
            </div>
            <div class="text-danger" *ngIf="signupForm.get('name')!.hasError('minlength') && signupForm.get('name')!.dirty">
              Name must be at least 3 characters long.
            </div>
            <div class="text-danger" *ngIf="signupForm.get('name')!.hasError('maxlength') && (signupForm.get('name')!.dirty || signupForm.get('name')!.touched)">
              Name cannot be longer than 20 characters.
            </div>
          </div>
      
          <!-- Email Input -->
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username">
            <div class="text-danger" *ngIf="signupForm.get('username')!.hasError('required') && (signupForm.get('username')!.dirty || signupForm.get('username')!.touched)">
              Username is required.
            </div>
            <div class="text-danger" *ngIf="signupForm.get('username')!.hasError('minlength') && signupForm.get('username')!.dirty">
              Username must be at least 3 characters long.
            </div>
            <div class="text-danger" *ngIf="signupForm.get('username')!.hasError('maxlength') && (signupForm.get('username')!.dirty || signupForm.get('username')!.touched)">
              Username cannot be longer than 20 characters.
            </div>
          </div>
      
          <!-- Phone Input (could be added based on the form needs) -->
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="password" id="password" formControlName="password" placeholder="password"  class="form-control">
            <div class="text-danger" *ngIf="signupForm.get('password')!.hasError('required') && (signupForm.get('password')!.dirty || signupForm.get('password')!.touched)">
              Password is required.
            </div>
            <div class="text-danger" *ngIf="signupForm.get('password')!.hasError('minlength') && (signupForm.get('password')!.dirty || signupForm.get('password')!.touched)">
              Password must be at least 6 characters long.
            </div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="password" id="rePassword" formControlName="rePassword" placeholder="Confirm Password" class="form-control">
            <div class="text-danger" *ngIf="signupForm.get('rePassword')!.hasError('required') && (signupForm.get('rePassword')!.dirty || signupForm.get('rePassword')!.touched)">
              Confirm Password is required.
            </div>
            <div class="text-danger" *ngIf="signupForm.hasError('passwordMismatch')">
              Passwords do not match.
            </div>
          </div>
  
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <select formControlName="role" id="department" class="form-select" required>
              <option value="">Select Role</option>
              <option value="1">Student</option>
              <option value="2">Company</option>
              <option value="3">Admin</option>
            </select>
          </div>
  
        </div>   

        <!-- <div class="row">
    
          <div class="text-center">
            <div class="d-flex align-items-center">
              <img class="bg-white me-2" [src]="captchaImage" alt="CAPTCHA" width="100" height="30" />
              <i (click)="loadCaptcha()" class="fa-solid fa-arrow-rotate-right me-2"></i>
              <input id="captcha" formControlName="captcha" type="text" required class="form-control w-auto">
            </div>
          </div>
        </div> -->
      
        
        <!-- Form Submission Buttons -->
        <div class="mt-1">
          <div class="mt-1">
            <div class="text-center">
              <img class="bg-white me-2" [src]="captchaImage" alt="CAPTCHA" width="100" height="30" />
              <i (click)="loadCaptcha()" class="fa-solid fa-arrow-rotate-right me-2"></i>
            </div>
          </div>


          <div class="text-center">
            <input id="captcha" formControlName="captcha" type="text" required class="col-md-3">
          </div>
        </div>


       


        <div class="mt-2">
          <div class="text-center">
            <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
          </div>
        </div>
      </form>
      
      <!-- new form  -->

      </div>

    </section>
<app-footer></app-footer>




 



 

</main>
  





 