<div class="container">
    <div class=" container container-flude mt-2 mb-3 p-0 user-select-none">
    
      <div class="container main-con mt-2 bg-white-subtle p-1  rounded">
        <form [formGroup]="studentregistrationForm" enctype="multipart/form-data" autocomplete="off">
            <div class="row basic-row">
              <div class="#">
                <div class="card">
                  <div class="card-header p-1" style="background-color:#dfdddd">
                    <h1 class="ms-1 mt-1 text-black"><b>Basic Information</b></h1>
                  </div>
                      <div class="card-body">
                        <div class="row">
                        <div class="row">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="UE_ID">User ID :</label>
                              <input readonly type="text" class="form-control" formControlName="UE_ID" id="user id" required>
                            </div>
                          </div>
                        </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Salutation_E"> Salutation E:</label>
                              <input type="text" class="form-control" formControlName="Salutation_E" id="Salutation_E" required>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Student_First_Name_E">First Name:</label>
                              <input type="text" class="form-control" formControlName="Student_First_Name_E" id="Student_First_Name_E" required>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Student_Middle_Name_E"> Middle Name:</label>
                              <input type="text" class="form-control" formControlName="Student_Middle_Name_E" id="Student_Middle_Name_E">
                            </div>
                          </div>
                       
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Student_Last_Name_E">Last Name:</label>
                              <input type="text" class="form-control" formControlName="Student_Last_Name_E" id="Student_Last_Name_E">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Salutation_H">Salutation Hindi:</label>
                              <input type="text" class="form-control" formControlName="Salutation_H" id="Salutation_H">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Student_First_Name_H">विद्यार्थी का प्रथम नाम:</label>
                              <input type="text" class="form-control" formControlName="Student_First_Name_H" id="Student_First_Name_H">
                            </div>
                          </div>
                           
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Student_Middle_Name_H"> विद्यार्थी का मध्य नाम:</label>
                              <input type="text" class="form-control" formControlName="Student_Middle_Name_H" id="Student_Middle_Name_H">
                            </div>
                          </div>
                          
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Student_Last_Name_H"> विद्यार्थी का अंतिम नाम:</label>
                              <input type="text" class="form-control" formControlName="Student_Last_Name_H" id="Student_Last_Name_H">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="DOB">Date Of Birth:</label>
                              <input type="date" class="form-control" formControlName="DOB" id="DOB">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Gender_Id"> Gender:</label>
                              <input type="text" class="form-control" formControlName="Gender_Id" id="Gender_Id">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Mobile_No">Mobile No:</label>
                              <input type="number" class="form-control" formControlName="Mobile_No" id="Mobile_No">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Email_Id">Email:</label>
                              <input type="text" class="form-control" formControlName="Email_Id" id="Email_Id">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Father_Name_E">Father Name:</label>
                              <input type="text" class="form-control" formControlName="Father_Name_E" id="Father_Name_E">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Mother_Name_E">Mother Name :</label>
                              <input type="text" class="form-control" formControlName="Mother_Name_E" id="Mother_Name_E">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Father_Name_H">Father Name Hindi:</label>
                              <input type="text" class="form-control" formControlName="Father_Name_H" id="Father_Name_H">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Mother_Name_H">Mother Name Hindi:</label>
                              <input type="text" class="form-control" formControlName="Mother_Name_H" id="Mother_Name_H">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Guardian_Name_E">Guardian Name E:</label>
                              <input type="text" class="form-control" formControlName="Guardian_Name_E" id="Guardian_Name_E">
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="Spouse_Name_E">Spouse Name E:</label>
                              <input type="text" class="form-control" formControlName="Spouse_Name_E" id="Spouse_Name_E">
                            </div>
                          </div>
  
                          <div class="d-flex justify-content-evenly">
                            <button type="submit" class="btn btn-primary" [disabled]="studentregistrationForm.invalid" onclick="onsubmit()">Submit</button>
                          </div>
                          
                          <!-- <button mat-button matStepperNext>Next</button> -->
                           
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          
          </form>
          
    </div>
  </div>
  
</div>